ERA_component/ERA_component/DATA.bin
ERA_component/Release/ERA_component.exe
ERA_component/Release/ERA_component.pdb
colorblind/bin/classes/activity/ImageModeActivity.class
colorblind/bin/classes/activity/MainActivity.class
colorblind/bin/classes/com/naubull2/colorblind/R$attr.class
colorblind/bin/classes/com/naubull2/colorblind/R$drawable.class
colorblind/bin/classes/com/naubull2/colorblind/R$id.class
colorblind/bin/classes/com/naubull2/colorblind/R$layout.class
colorblind/bin/classes/com/naubull2/colorblind/R$string.class
colorblind/bin/classes/com/naubull2/colorblind/R$style.class
colorblind/bin/classes/com/naubull2/colorblind/R.class
colorblind/bin/classes/utililty/ImageProcessHelper.class
LibERA/.classpath
LibERA/bin/jarlist.cache
LibERA/bin/libera.jar
LibERA/gen/com/naubull2/libera/BuildConfig.java
LibERA/project.properties
colorblind/bin/R.txt
colorblind/bin/jarlist.cache
colorblind/gen/com/naubull2/colorblind/BuildConfig.java
colorblind/gen/com/naubull2/colorblind/R.java
colorblind/gen/com/naubull2/libera/R.java
