ERA_component/ERA_component/DATA.bin
ERA_component/Release/ERA_component.exe
ERA_component/Release/ERA_component.pdb
colorblind/bin/classes/activity/ImageModeActivity.class
colorblind/bin/classes/activity/MainActivity.class
colorblind/bin/classes/com/naubull2/colorblind/R$attr.class
colorblind/bin/classes/com/naubull2/colorblind/R$drawable.class
colorblind/bin/classes/com/naubull2/colorblind/R$id.class
colorblind/bin/classes/com/naubull2/colorblind/R$layout.class
colorblind/bin/classes/com/naubull2/colorblind/R$string.class
colorblind/bin/classes/com/naubull2/colorblind/R$style.class
colorblind/bin/classes/com/naubull2/colorblind/R.class
colorblind/bin/classes/utililty/ImageProcessHelper.class
LibERA/.classpath
LibERA/bin/jarlist.cache
LibERA/bin/libera.jar
LibERA/gen/com/naubull2/libera/BuildConfig.java
LibERA/project.properties
colorblind/bin/R.txt
colorblind/bin/jarlist.cache
colorblind/gen/com/naubull2/colorblind/BuildConfig.java
colorblind/gen/com/naubull2/colorblind/R.java
colorblind/gen/com/naubull2/libera/R.java
LibERA/bin/classes/com/naubull2/libera/BuildConfig.class
colorblind/bin/classes/com/naubull2/libera/R$string.class
colorblind/bin/classes/com/naubull2/libera/R.class
colorblind/bin/dexedLibs/android-support-v4-72c042d715ed9f3a236c719cb97227e9.jar
colorblind/bin/dexedLibs/libera-401f5fe7e904754db81dbc0f0674da43.jar
colorblind/bin/classes.dex
colorblind/bin/colorblind.apk
colorblind/bin/resources.ap_
LibERA/lint.xml
colorblind/lint.xml
LibERA/obj/local/armeabi-v7a/libopencv_java.so
LibERA/obj/local/armeabi-v7a/objs/ERA/ERAcore.o.d
LibERA/libs/armeabi-v7a/libERA.so
LibERA/obj/local/armeabi-v7a/libERA.so
LibERA/jni/Android.mk
